<!DOCTYPE html>
<html>
<head>
    <div class="container">
        <img src="/static/caltech_logo.png" width="90" height="40" alt="giffin" class="right-align"/>
    </div>
    <h1 style="color:rgb(255, 255, 255);">Parkinson's Disease Pilot Study</h1>
    <title> Stablehand2: Parkinson's disease </title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>
    <p><div class = "nav">
        <p><a href="{{ url_for('index') }}">Home</a></p>
        <p><a href="{{ url_for('survey') }}">Survey</a></p>
        <p><a href="{{ url_for('instructions') }}">Instructions</a></p>
        <p><a href="{{ url_for('therapy') }}">Stablehand2 Therapy</a></p>
        <p><a href="{{ url_for('contact') }}">Contact</a></p>
    </div></p>
<body>
   <script src="script.js"></script>
</body>
</html>

